.shadow {
    border-radius: 10px;
}

.header {
    width: 80%;
    /* margin: auto; */
    /* height: 120px; */
    border-bottom: black 2px solid;
}

.footer {
    border-top: black 2px solid;
    width: 80%;
}

.lbl {
    font-size: 1.2rem;
    font-weight: 600;
}